:root{
    --yellowColor:#ECD181;
    --bgColor:#D8D6D6;
    --textGreenColor: #014B2B;
    --price:#158812;
    --NameItem:red;
    --ver:#D9D9D9;
    --priceCut:#8FD08E;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
/* INICIO DO HEADER  */
header{
    background-color: black;
    height: 240px;
    color:var(--yellowColor) ;
    justify-content: space-between;
}
.headertop{
    display: flex;
    justify-content: space-between;
}
header img{
    height: 120px;
    margin-left: 210px;
    margin-top: 10px;
   
}
header h1{
    margin-left: 200px;
    padding: 0;
}
.titulo{
    margin-left: 22px;
    padding: 0;
}
header a{
    text-decoration: none;
    color:var(--yellowColor) ;
}
header form{
    border: 2px solid red;
    margin-top: 50px;
    margin-right: 150px;
    display: flex;
    margin-left: -140px;
}
/* setar o tamanho da barra */
.formPesquisar{
    width: 600px;
    background-color: black;
    

}
.botao{
    width:50px;
    background-image:url(../IMG/HeaderIcons/image1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    border: 2px solid red;
    background-color:red;
    color: black;
}
input {
    width: 100%;
    height: 40px;
    color:white;
    font-size: 1.2rem;
}


.carrinho{
    height: 60px;
    width: 50%px;
    padding:0;
    margin-top:-82px;
    margin-left: -250px;
    margin-bottom: 3px;
    
}
.usuario{
    height: 55px;
    width: 50%px;
    padding: 0;
    margin-top: 40px;
    margin-left: -350px;
    margin-bottom: 5px;
}
.icons img{
    display: flex;
}
.carrinhoa{
    display: inline-block;
    margin-left: -253px;
}
.usuarioa{
    display: inline-block;
    margin-left: -345px;
}
header nav{
    display:inline-flex;
    margin-right: 50px;
    margin-left: 30px;
}
.navs{
    margin-left: 460px;
    margin-top: -20px;
}

/* FINAL DO HEADER  */
/* INICIO DO BANNER */
.banner{
    height: 400px;
    width: 100%;
}
/* FINAL DO BANNER */
body{
    background-color: var(--bgColor);
}
/* INICIO DE CATEGORIAS */
.categoriaTitle{
    margin-top: 10px;
    margin-left: 100px;
    font-size: 2rem;
}
.linhaCat {
    display:block; 
    padding:0; 
    margin: 10px 0; 
    width:17%; 
    height:2px; 
    background-color:black}
.bgcategoria{
    margin-top: 20px;
    width: 100%;
    height: 230px;

}
.iconsCat img{
    height: 150px;
    margin-left: 190px;
    margin-top: -200px;
    margin-bottom: 100px;
}
.linkCat a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-left: 220px;
    margin-top: -100px;
}
.linkCat a:nth-child(2){
    margin-left: 260px;
    
}
.linkCat a:nth-child(4){
    margin-left: 210px;
}
.linkCat{
    display: flex;

}
/* FINAL DE CATEGORIAS */
/* INICIO DE DESTAQUE */
    .destaqueTitle{
        margin-top: 10px;
        margin-left: 100px;
        font-size: 2rem;
    }
    .linhaDest {
        display:block; 
        padding:0; 
        margin: 10px 0; 
        width:21%; 
        height:2px; 
        background-color:black
    }
    .imgDest{
        display: flex;
        margin-left: 100px;
    }
    .imgSmallBox{
        height: 225px;
        margin-left: 50px;
        margin-bottom: 30px;
    }
    .layoutitem{
        height:240px;
        width: 278px;
        margin-left: 50px;
        
    }
    .imgBigBox{
        height: 500px;
    }
    .textDest1{
        position: absolute;
        display: block;
        padding: 0 15px;
        background-color: var(--textGreenColor);
        border-radius: 30px;
        font-size: 1.6rem;
        font-weight: 300;
        margin-top: -160px;
        margin-left: 650px;   
    }
    .textDest1 a{
        text-decoration: none;
        color: white;
    }
    .textDest2 a{
        text-decoration: none;
        color: white;
    }
    .textDest3 a{
        text-decoration: none;
        color: white;
    }
    .textDest2{
        position: absolute;
        padding: 0 15px;
        display: block;
        background-color: var(--textGreenColor) ;
        color: white;
        border-radius: 30px;
        font-size: 1.6rem;
        font-weight: 300;
        margin-top: -360px;
        margin-left: 1160px;
    }
    .textDest3{
        position: absolute;
        padding: 0 15px;
        display: block;
        background-color: var(--textGreenColor) ;
        color: white;
        border-radius: 30px;
        font-size: 1.6rem;
        font-weight: 300;
        margin-top: -90px;
        margin-left: 1160px;
    }
/* FINAL DE DESTAQUE */
/* INICIO DE NOVIDADES */
.novTitle{
    margin-top: 30px;
    margin-left: 100px;
    font-size: 2rem;
}
.linhaNov {
    display:block; 
    padding:0; 
    margin: 10px 0; 
    width:18%; 
    height:2px; 
    background-color:black
}
.cartoes{
    display: flex;
    font-weight: 400;
}
.cartao{
    color: var(--NameItem);
    display: grid;
    padding: 30px;
    background-color: white;
    margin-left: 50px;
    border: 1px solid black;
    margin-top: 50px;
    place-items: center;
}
.cartao img{
    height: 190px;
    object-fit: cover;
    width: 250px;
    margin-bottom: 20px;
}
.cartao span{
    color: var(--price);
    margin-top: 50px;
}
.cartao a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 90px;
    background-color:var(--ver);
    margin-top: 20px;
    margin-bottom: -20px;
    padding-left:30px;
}
/* FINAL DE NOVIDADES */
/* INICIO DE PROMOÇÕES */
.proTitle{
    margin-top: 50px;
    margin-left: 100px;
    font-size: 2rem;
}
.linhaPro {
    display:block; 
    padding:0; 
    margin: 10px 0; 
    width:22%; 
    height:2px; 
    background-color:black
}
.cartoesPro{
    display: flex;
    font-weight: 400;
    margin-top: 50px;
}
.promoIcon10{
    height: 70px;
    width: 70px;
    margin-right:190px;
    margin-left: -30px;
    margin-top: -25px;
    margin-bottom: 10px;
}
.promoIcon25{
    height: 70px;
    width: 70px;
    margin-right:190px;
    margin-left: -30px;
    margin-top: -25px;
    margin-bottom: 10px;
}
.promoIcon50{
    height: 70px;
    width: 70px;
    margin-right:190px;
    margin-left: -30px;
    margin-top: -25px;
    margin-bottom: 10px;
}
.priceCut{
    text-decoration: line-through;
    color: var(--priceCut);
    margin-bottom: -70px;
}
.cartaoPro{
    color: var(--NameItem);
    display: grid;
    padding: 30px;
    background-color: white;
    margin-left: 50px;
    border: 1px solid black;
    margin-top: 50px;
    place-items: center;
}
.cartaoProImg{
    height: 190px;
    object-fit: cover;
    width: 250px;
    margin-bottom: 20px;
}
.cartaoPro span{
    color: var(--price);
    margin-top: 50px;
}
.cartaoPro a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 90px;
    background-color:var(--ver);
    margin-top: 20px;
    margin-bottom: -20px;
    padding-left:30px;
}
/* FINAL DE PROMOÇÕES */
/* INICIO DO FOOTER */
.footerAll{
    background-color: black;
    width:100%;
    color: white;
    font-weight: 300;
    margin-top:50px ;
    display: flex;
}
footer h4{
    font-size: 1.2rem;
}
footer a{
    text-decoration: none;
    color: white;
}
.linhaInfo {
    display:block; 
    padding:0; 
    margin: 10px 0; 
    width:200px; 
    height:2px; 
    background-color:white;
    margin-left: 5px;
}
.infoTitle{
    display: flex;
    margin-left: -15px;
    align-items: center;
    padding: 10px;

}
.footerInfo{
    margin-left: 50px;
}
.footerInfo a{
    display: inline-block;
    margin-bottom: 5px;
}
.footerInfo img{
    margin-top: 30px;
    height: 80px;
}
.footerCont{
    margin-left: 200px;
}
.linhaCont {
    display:block; 
    padding:0; 
    margin: 10px 0; 
    width:200px; 
    height:2px; 
    background-color:white;
    margin-left: 5px;
}

.contTitle{
    display: flex;
    margin-left: -30px;
    align-items: center;
    padding: 10px;

}
.linhaCont2 {
    display:block; 
    padding:0; 
    margin: 10px 0; 
    width:305px; 
    height:2px; 
    background-color:white;
    margin-left: -20px;
    
}
.footerCont i{
    margin-left: -15px;
    color: red;
}
.footerMet{
    margin-left: 180px;
}
.metTitle{
    display: flex;
    margin-left: -30px;
    align-items: center;
    padding: 10px;
}
.linhaMet{
    display:block; 
    padding:0; 
    margin: 10px 0; 
    width:240px; 
    height:2px; 
    background-color:white;
    margin-left: 5px;
}
.footerMet img{
height: 140px;
margin-left: 50px;
}
.copyr{
    background-color: black;
    color: white;
    width: 100%;
    padding-left: 480px;
    padding-bottom: 10px;
    font-weight: 200;
    font-size: 1.1rem;
}

/* FINAL DO FOOTER */