:root{
    --yellowColor:#ECD181;
    --bgColor:#D8D6D6;
    --textGreenColor: #014B2B;
    --price:#158812;
    --NameItem:red;
    --ver:#D9D9D9;
    --priceCut:#8FD08E;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
/* INICIO DO HEADER  */
.logo{
    display: grid;
    justify-content: center;
    margin-left: 210px;
}
header{
    background-color: black;
    height: 240px;
    color:var(--yellowColor) ;
    justify-content: space-between;
}
.headertop{
    display: flex;
    justify-content: space-between;
}
header img{
    height: 120px;
    margin-top: 10px;
    margin-left: 15px;
   
}
.titulo{
    margin-left: 22px;
    padding: 0;
}
header a{
    text-decoration: none;
    color:var(--yellowColor) ;
}
header form{
    border: 2px solid red;
    margin-top: 50px;
    margin-right: 150px;
    display: flex;
    margin-left: -140px;
}
/* setar o tamanho da barra */
.formPesquisar{
    width: 600px;
    background-color: black;
    

}
.botao{
    width:50px;
    background-image:url(../IMG/HeaderIcons/image1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    border: 2px solid red;
    background-color:red;
    color: black;
    cursor: pointer;
}
input {
    width: 100%;
    height: 40px;
    color:white;
    font-size: 1.2rem;
}


.carrinho{
    height: 60px;
    width: 50%px;
    padding:0;
    margin-top:-82px;
    margin-left: -250px;
    margin-bottom: 3px;
    
}
.usuario{
    height: 55px;
    width: 50%px;
    padding: 0;
    margin-top: 40px;
    margin-left: -350px;
    margin-bottom: 5px;
}
.icons img{
    display: flex;
}
.carrinhoa{
    display: inline-block;
    margin-left: -253px;
}
.usuarioa{
    display: inline-block;
    margin-left: -345px;
}
header nav{
    display:inline-flex;
    margin-right: 50px;
    margin-left: 30px;
}
.navs{
    margin-left: 460px;
    margin-top: -20px;
}

/* FINAL DO HEADER  */
/* INICIO DO BANNER */
.banner{
    height: 400px;
    width: 100%;
}
/* FINAL DO BANNER */
html{
    scroll-behavior: smooth;
}
.bottton{
    font-size: 2rem;
    text-decoration: none;
    color: red;
    position: fixed;
    right: 20px;
    bottom:30px;   
}
body{
    background-color: var(--bgColor);
    margin: 0 auto;
}
main{
    margin: 0 auto;

    height: 2850px;
    width: 80%;
    box-shadow: 0px 19px 93px -2px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 19px 93px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 19px 93px -2px rgba(0,0,0,1);
    margin-top: -10px;
}
/* INICIO DE CATEGORIAS */
.categoriaTitle{
    margin-top: 10px;
    padding-top: 10px;
    margin-left: 50px;
    font-size: 2rem;
}
.linhaCat {
    display:block; 
    padding:0; 
    margin: 10px 0; 
    width:20%; 
    height:2px; 
    background-color:black}
.bgcategoria{
    margin-top: 20px;
    width: 100%;
    height: 230px;

}
.iconsCat img{
    height: 100px;
    margin-left: 150px;
    margin-top: -200px;
    margin-bottom: 100px;
}
.linkCat a{
    text-decoration: none;
    margin-left: 160px;
    color: white;
    font-size: 1.5rem;
    margin-top: -100px;
}
.linkCat a:nth-child(2){
    margin-left: 165px;
}
.linkCat a:nth-child(3){
    margin-left: 130px;
}
.linkCat a:nth-child(4){
    margin-left: 120px;
}
.linkCat{
    display: flex;

}
/* FINAL DE CATEGORIAS */
/* INICIO DE DESTAQUE */
.destaqueTitle{
    margin-top: 10px;
    margin-left: 50px;
    font-size: 2rem;
}
.linhaDest {
    display:block; 
    padding:0; 
    margin: 10px 0; 
    width:24%; 
    height:2px; 
    background-color:black
}

.imgDest{
    display: flex;
    margin-left: 50px;
}
.smallimgs {
    display: block;
    margin-left: 50px;
}
.imgSmallBox{
    display: block;
    height: 200px;
    margin-bottom: 30px;
}
.layoutitem{

    height:195px;
    width: 250px;
    
}
.imgBigBox{
    height: 425px;
}
.textDest1{
    position: absolute;
    display: block;
    padding: 0 20px;
    background-color: var(--textGreenColor);
    border-radius: 30px;
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: -150px;
    margin-left: 520px;   
}
.textDest1 a{
    text-decoration: none;
    color: white;
}
.textDest2 a{
    text-decoration: none;
    color: white;
}
.textDest3 a{
    text-decoration: none;
    color: white;
}
.textDest2{
    position: absolute;
    padding: 0 20px;
    display: block;
    background-color: var(--textGreenColor) ;
    color: white;
    border-radius: 30px;
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: -300px;
    margin-left: 940px;
}
.textDest3{
    position: absolute;
    padding: 0 20px;
    display: block;
    background-color: var(--textGreenColor) ;
    color: white;
    border-radius: 30px;
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: -90px;
    margin-left: 940px;
}

/* FINAL DE DESTAQUE */
/* INICIO DE NOVIDADES */
.novTitle{
    margin-top: 30px;
    margin-left: 50px;
    font-size: 2rem;
}
.linhaNov {
    display:block; 
    padding:0; 
    margin: 10px 0; 
    width:20%; 
    height:2px; 
    background-color:black
}
.cartoes{
    display: flex;
    font-weight: 400;
}
.cartoes img {
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
  }
.cartoes img:hover {
    opacity: 1;
    transform: scale(1.5);
  }
.cartao{
    color: var(--NameItem);
    display: grid;
    padding: 40px;
    background-color: white;
    margin-left: 50px;
    border: 1px solid black;
    margin-top: 50px;
    place-items: center;
}
.cartao img{
    height: 120px;
    object-fit: cover;
    width: 160px;
    margin-bottom: 20px;
}
.cartao span{
    color: var(--price);
    margin-top: 50px;
}
.cartao a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 85px;
    background-color:var(--ver);
    margin-top: 20px;
    margin-bottom: -20px;
    padding-left:30px;
}
/* FINAL DE NOVIDADES */
/* INICIO DE PROMOÇÕES */
.proTitle{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 2rem;
}
.linhaPro {
    display:block; 
    padding:0; 
    margin: 10px 0; 
    width:22%; 
    height:2px; 
    background-color:black
}
.cartoesPro{
    display: flex;
    font-weight: 400;
    margin-top: 20px;
}
.cartoesPro img {
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
  }
.cartoesPro img:hover {
    opacity: 1;
    transform: scale(1.5);
  }
.promoIcon10{
    height: 50px;
    width: 50px;
    margin-left: -180px;
    margin-top: -35px;
    margin-bottom: 10px;
    padding: 0;
    z-index: 1;
}
.promoIcon25{
    z-index: 1;
    height: 50px;
    width: 50px;
    margin-left: -190px;
    margin-top: -35px;
    margin-bottom: 10px;
}
.promoIcon50{
    z-index: 1;
    height: 50px;
    width: 50px;
    margin-left: -180px;
    margin-top: -35px;
    margin-bottom: 10px;
}
.priceCut{
    text-decoration: line-through;
    color: var(--priceCut);
    margin-bottom: -70px;
}
.cartaoPro{
    color: var(--NameItem);
    display: grid;
    padding: 40px;
    background-color: white;
    margin-left: 50px;
    border: 1px solid black;
    margin-top: 50px;
    place-items: center;
}
.cartaoProImg{
    height: 120px;
    object-fit: cover;
    width: 160px;
    margin-bottom: 20px;
}
.cartaoPro span{
    color: var(--price);
    margin-top: 50px;
}
.cartaoPro a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 90px;
    background-color:var(--ver);
    margin-top: 20px;
    margin-bottom: -20px;
    padding-left:30px;
}
/* FINAL DE PROMOÇÕES */
/* INICIO DE LOJA FÍSICA */
.loja{
    margin-top: 200px;
}
.loja a{
    position: absolute;
    text-decoration: none;
    color: black;
    padding: 17px 15px;
    background-color: red;
    display: block;
    margin-top: -125px;
    margin-left: 830px;
    font-size: 1.3rem;
    border-radius: 10px;
}
.loja a:hover{
    background-color: rgb(255, 45, 45);
}
.loja img{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
/* FINAL DE LOJA FÍSICA */
/* INICIO DO FOOTER */
.footerAll{
    background-color: black;
    width:100%;
    color: white;
    font-weight: 300;
    display: flex;
    padding-top: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 

}
footer h4{
    font-size: 1.2rem;
}
footer a{
    text-decoration: none;
    color: white;
}
.linhaInfo {
    display:block; 
    padding:0; 
    margin: 10px 0; 
    width:200px; 
    height:2px; 
    background-color:white;
    margin-left: 5px;
}
.infoTitle{
    display: flex;
    margin-left: -15px;
    align-items: center;
    padding: 10px;

}
.footerInfo{
    margin-top: 30px;
    margin-left: 50px;
}
.footerInfo a{
    display: inline-block;
    margin-bottom: 5px;
}
.footerInfo img{
    margin-top: 30px;
    height: 80px;
}
.footerCont{
    margin-left: 200px;
}
.linhaCont {
    display:block; 
    padding:0; 
    margin: 10px 0; 
    width:200px; 
    height:2px; 
    background-color:white;
    margin-left: 5px;
}

.contTitle{
    display: flex;
    margin-top: -25px;
    margin-left: -30px;
    align-items: center;
    padding: 10px;

}
.linhaCont2 {
    display:block; 
    padding:0; 
    margin: 10px 0; 
    width:305px; 
    height:2px; 
    background-color:white;
    margin-left: -20px;
    
}
.footerCont i{
    margin-left: -15px;
    color: red;
}
.footerMet{
    margin-left: 180px;
}
.metTitle{
    display: flex;
    margin-top: -25px;
    margin-left: -30px;
    align-items: center;
    padding: 10px;
}
.linhaMet{
    display:block; 
    padding:0; 
    margin: 10px 0; 
    width:240px; 
    height:2px; 
    background-color:white;
    margin-left: 5px;
}
.footerMet img{
height: 140px;
margin-left: 50px;
}
.copyr{
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    font-weight: 200;
    font-size: 1.1rem;
    justify-content: center;
    padding-bottom: 20px;
}

/* FINAL DO FOOTER */